:root {
  font-family: sans-serif;
  font-weight: 400;
}

#root {
  width: 90%;
}

body {
  padding: 12px 0px;
  margin: 0;
  display: flex;
  justify-content: center;
  color: #222222;
  background-color: rgb(243, 239, 224);
  z-index: 1;
}

h2 {
  margin: 0px 12px;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid #222222;
  padding: 10px 8px;
  font-size: 1em;
  font-weight: 500;
  background-color: #222222;
  color: rgb(243, 239, 224);
  cursor: pointer;
  transition: 0.2s;
  margin: 0px 12px;
  pointer-events: all;
}

button:hover {
  background-color: rgb(243, 239, 224);
  color: #22a39f;
  border-color: #22a39f;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar h2 {
  color: #222222;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  z-index: 10;
}

.disabled {
  pointer-events: none;
}

.card,
.card-block,
.card-select {
  padding: 25px;
  margin: 12px 12px;
  height: 90px;
  width: 70px;
  border-radius: 10px;
  border: 3px solid #222222;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #434343;
}

.card:hover {
  background-color: #222222;
  border-color: rgb(243, 239, 224);
}

.card-select {
  border-color: #22a39f;
  background-color: rgb(243, 239, 224);
}

.card-block {
  border-image: linear-gradient(150deg, #222222, #22a39f);
  background: linear-gradient(
    150deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(34, 163, 159, 1) 100%
  );
}

.card-select img {
  margin-top: 15px;
}

.card-block img {
  margin-top: 15px;
  filter: invert(1);
  transition: 0.2s;
}

.finish-modal {
  width: 100vh;
  height: 100vh;
  position: absolute;
  z-index: 10;
  align-items: center;
  justify-content: center;
}

.finish-modal_table {
  width: 500px;
  position: fixed;
}

/*gamemode modal*/
.exit-button {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: transparent;
  filter: invert(1);
  padding: 0px;
  margin: 0px;
}

.exit-button:hover {
  background-color: transparent;
  border: transparent;
  filter: invert(0.15);
}

.modal-header {
  color: rgb(243, 239, 224);
  text-align: center;
}

.modal-header h2 {
  margin-bottom: 24px;
  color: rgb(243, 239, 224);
}

.game-mode_options-menu {
  display: flex;
  justify-content: center;
}
.game-mode_options-menu div {
  width: 280px;
  height: auto;
}

input {
  border: 0px solid #22a39f;
  outline: 0px solid transparent;
  margin: 4px 0px;
  border-radius: 5px;
  height: 18px;
  background-color: #222222;
  color: rgb(243, 239, 224);
  padding: 4px 4px;
}

input:focus {
  border-width: 2px;
  margin: 2px 0px;
}

.moves-setter {
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  gap: 16px;
}

.invalid-button {
  pointer-events: none;
  color: #434343;
}

.players-name_container {
  margin-bottom: 16px;
}

/*Game Aplied*/
.game_bar-container {
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: end;
  background-color: transparent;
}

.game_bar {
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  color: rgb(243, 239, 224);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #222222;
  padding-bottom: 10px;
}

.game_bar h4 {
  padding: 10px;
  width: 80px;
  text-align: center;
  margin: 0px;
}

.game_bar h4 img {
  filter: invert(1);
  height: 20px;
  margin-right: 5px;
  transform: translateY(5px);
}

.game_bar h4:hover > .button-restart_mode {
  display: block;
}

.game_bar button {
  font-size: 14px;
  font-weight: 600;
  margin: 12px 0px;
  padding: 8px 10px;
  border-style: solid;
  background-color: #434343;
  color: rgb(243, 239, 224);
}

.button-restart_mode {
  display: none;
}

/*Players bar Turn*/
.players_turns_bar-container {
  position: absolute;
  height: 0px;
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
}

.players_turns_bar {
  width: 80px;
  height: 60px;
  background-color: #222222;
  padding: 4px 8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.players_turns_bar h4 {
  color: rgb(243, 239, 224);
}

/*winner Modal*/
.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgb(34, 34, 34, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.end-modal {
  z-index: 20;
}

.reset-button {
  display: flex;
  justify-content: center;
}

.text-container {
  position: fixed;
  width: 40%;
  min-width: 400px;
  height: auto;
  background-color: #434343;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.text {
  width: 370px;
  height: auto;
  margin: 20px auto;
}

.text h1,
.text h2,
h3 {
  color: rgb(243, 239, 224);
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .card,
  .card-block,
  .card-select {
    width: 60px;
    height: 80px;
    padding: auto auto;
    margin-top: 12px;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 1090px) {
  .card,
  .card-block,
  .card-select {
    width: 50px;
    height: 70px;
  }

  .card img,
  .card-select img {
    width: 50px;
  }
}

@media only screen and (max-width: 1010px) {
  .card,
  .card-block,
  .card-select {
    width: 45px;
    height: 65px;
  }

  .card img,
  .card-select img {
    width: 50px;
    margin: 10px 0px 0px 0px;
  }
}

@media only screen and (max-width: 700px) {
  .card,
  .card-block,
  .card-select {
    width: 30px;
    height: 50px;
  }
  .card img,
  .card-select img {
    margin: 0px 0px 0px -7px;
  }
}

@media only screen and (max-width: 610px) {
  .card,
  .card-block,
  .card-select {
    width: 20px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .card img,
  .card-select img {
    width: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .card,
  .card-block,
  .card-select {
    width: 16px;
    height: 28px;
  }
  .card img,
  .card-select img {
    width: 40px;
    margin: -5px 0px 0px -10px;
  }
}
